:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --card-height: 60vh;
  --card-width: calc(var(--card-height));
}

a {
  font-weight: 500;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  text-decoration: inherit;
}
select {
  margin: 3rem;
  font-size: 1.5rem;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 60vh;

  background-image: url("./assets/pictures/nightsky.avif");
  background-color: #212534;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

button,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgb(131, 187, 152);
  cursor: pointer;
  transition: border-color 0.25s;
  overflow: scroll;
  text-align: center;
  /* font-family: cursive; */
}
button:hover,
select:hover,
label:hover {
  /* border-color: #646cff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}
/* __________________________ MAGIC CARD_____________*/
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: rgba(25, 28, 41, 0.65);
  margin-top: 8rem;
  margin-bottom: 4rem;
  width: var(--card-width);
  min-height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250);
  cursor: pointer;
  /* font-family: cursive; */
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  /* animation: none; */
  opacity: 0.55;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  overflow: scroll;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff75,
    #3c66e354 43%,
    #4e00c269
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  /* animation: spin 2.5s linear infinite; */
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  /* animation: spin 2.5s linear infinite; */
}
@media only screen and (max-width: 600px) {
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* ____________________________NAVBAR_________________ */

h1,
a.active {
  font-size: 2rem;
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
.nav_container li {
  display: inline;
  list-style-type: none;
  margin-right: 4rem;
}
.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
/* _______FOOTER_________ */
footer {
  position: fixed;
  bottom: 0;
}
.footer_sound_icons {
  box-shadow: 0 0 5px #513e6b, 0 0 15px #a546bc, 0 0 20px #00ffb3,
    0 0 40px #ff00e6, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #58c7fa;
  font-size: 3rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 45%;
  border-radius: 10px;
  padding: 2px;
}
@media screen and (max-width: 415px) {
  .footer_sound_icons {
    position: fixed;
    top: 0;
    height: 50px;
  }
}

/* ________C O M P O N E N T S _____________ */

/* __QUIZ___ */

.takeQuiz_container {
  display: block;
  width: 100%;
  height: 90%;
}
.answers_container {
  margin-left: 4rem;
}

input[type="radio"] {
  background-color: red;
  display: block;
}
.answer_button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 5px;
  width: 90%;
  height: 80px;
}
/* _________chose quiz */
.notFoundContent > a {
  padding: 2rem;
}
/* quiz */

.list_quiz {
  list-style-type: none;
  width: 1.5rem;
}
.answer_single {
  width: 80%;
  display: flex;
}
.label_quiz,
input[type="submit"] {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 80%;
  height: fit-content;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgb(131, 187, 152);
  cursor: pointer;
  transition: border-color 0.25s;
  overflow: scroll;
  text-align: center;
  margin: 2rem 0 0 2rem;
  padding: 5px;
}
/* input[type=radio]{
  display:none;
} */
input[type="submit"] {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
.answers_container {
  margin-top: 3rem;
  width: 60vw;
}
.next_button {
  margin: 2rem;
}

/* HOME */
.home_container {
  width: 70%;
}
.home_animation {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  /* color: #fff; */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  /* text-shadow: 0 0 0.15em #1da9cc; */
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
}

.home_animation span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.home_animation::before,
.home_animation::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.home_animation::before {
  animation: crack1 2.5s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.home_animation::after {
  animation: crack2 2.5s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}

@media screen and (max-width: 415px) {
  .home_animation {
    width: 20vw;
  }
}
