:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding:0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --card-height: 70vh;
  --card-width: calc(var(--card-height));
  
}

a {
  font-weight: 500;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  text-decoration: inherit;
}
select{
  margin: 3rem;
  font-size: 1.5rem;
}


body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 60vh;

  background-image: url('./assets/pictures/nightsky.avif');
  background-color: #212534; 
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin:0;
  padding:0;
}

button, select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:rgb(131, 187, 152);
  cursor: pointer;
  transition: border-color 0.25s;
  overflow: scroll;
  text-align:center;
  /* font-family: cursive; */

}
button:hover,
select:hover,
label:hover{
  /* border-color: #646cff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}
/* __________________________ MAGIC CARD_____________*/
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}




.card {
  background: rgba(25, 28, 41, 0.65);
  margin-top:8rem;
  margin-bottom: 4rem;
  width: var(--card-width);
  min-height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250);
  cursor: pointer;
  /* font-family: cursive; */
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
  
}
.card:hover:before, .card:hover:after {
  /* animation: none; */
  opacity: 0.55;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  overflow: scroll;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff75, #3c66e354 43%, #4e00c269);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    /* animation: spin 2.5s linear infinite; */
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  /* animation: spin 2.5s linear infinite; */
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


/* ____________________________NAVBAR_________________ */

h1, a.active{
  font-size: 2rem;
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
.nav_container li {
  display:inline;
  list-style-type: none;
  margin-right:4rem;

}
.nav_container{
  position:fixed;
  top: 0;
  left:0;
  width:100vw;
}
/* _______FOOTER_________ */
footer{
  position:fixed;
  bottom:0;
}

/* ________C O M P O N E N T S _____________ */


/* __QUIZ___ */

.takeQuiz_container{
  display:block;
  width:100%;
  height:90%;
}

input[type=radio]{
  background-color:red;
  display:block;
}
.answer_button{
  display:block;
  margin:0 auto;
  margin-top: 1rem;
  font-size:1rem;
  padding: 5px;
  width:90%;
  height:80px;
 
}
/* _________chose quiz */
.notFoundContent >a{
  padding: 2rem;
}
/* quiz */

.list_quiz{
  list-style-type: none;
  width:10vw;
}
.answer_single{
  width:80vw;
}
.label_quiz, input[type=submit]{
  border-radius: 8px;
  border: 1px solid transparent;
  width: 10vw;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:rgb(131, 187, 152);
  cursor: pointer;
  transition: border-color 0.25s;
  overflow: scroll;
  text-align:center;
  margin-top: 2rem;
}
input[type=submit]{
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
text-align: center;
animation: blink 12s infinite;
-webkit-animation: blink 12s infinite;
}
.answers_container{
  margin-top:3rem;
  width:60vw,
}